@media (max-width: 1024px) {
  html {
    /* height: 160%; */
  }
  .photodiv {
    display: none;
  }

  .subadminsite {
    width: 100%;
  }
}

@media (max-width: 760px) {
  html {
    height: 160%;
    font-size: 0.6rem;
  }
  .topadmin {
    display: none;
  }

  .firstrowbox,
  .secondrowbox,
  .thirdrowbox,
  .fourthrowbox {
    flex-direction: column;
  }

  .fourthrowbox {
    margin: 40rem 5rem 0 5rem;
  }
  .thirdrowbox {
    margin: 30rem 5rem 0 5rem;
  }

  .secondrowbox {
    margin: 56rem 5rem 0 5rem;
  }
  .tablehead {
    display: block;
  }

  .topfo {
    width: 13rem;
  }

  .lefthead {
    margin-bottom: 0.3rem;
  }
  .sear {
    margin: 0 0 0 0;
  }
  .addbtnco {
    right: -4rem;
  }
  .topfo {
    margin: 0 0 0 0;
  }
  table {
    width: 110rem;
  }

  .jffo {
    flex-direction: column;
  }
  .jful,
  .jfultw {
    width: 100%;
  }
  .kwtg {
    width: 60%;
    left: 60%;
  }
  .mainct {
    margin: 5rem 0 0 0;
  }
  .paymentInfoForm {
    flex-direction: column;
  }
  .paymentInfo-ul {
    width: 100%;
  }
  .paymentInfo-form-divTwo {
    width: 90%;
    margin: 2rem;
  }
  .photodiv {
    display: none;
  }
  .subadminsite {
    width: 100%;
  }
  .adminsubdiv {
    margin: 7rem 0 0 0;
  }
  .planthree {
    flex-direction: column;
    position: relative;
  }
  .subplan {
    width: 100%;
  }
  .addbtncoPay {
    position: absolute;
    top: 0;
    right: 0;
  }
  .plancontent {
    overflow: scroll;
  }
  .piechat {
    right: -1rem;
    height: 60%;
    right: 0;
  }
  .basictab {
    width: 60%;
  }
  .rightside {
    width: 100%;
  }
  .tabledv {
    margin: 1rem 0 0 0;
  }
  .container {
    display: initial;
  }
  .mobile-sideBar {
    position: fixed;

    height: 100%;
    z-index: 15;
    width: 70%;
  }
  .sidebar {
    left: -55rem;
  }

  .showset {
    right: 15rem;
  }

  .notit {
    right: 0;
  }

  .hideset,
  .showadm {
    height: 20.5rem;
  }

  /* .sidebar,
  .mobile-sideBar {
    left: 0;
  } */

  .sidebtn {
    display: none;
  }
  .sidebtn2 {
    display: block;
  }

  /* thanks to >> https://stackoverflow.com/questions/37621020/setting-width-and-height */
  canvas {
    width: 100%;
    height: 100%;
  }

  ion-icon {
    font-size: 28px;
  }
}
